{% extends 'base.html' %}

{% block head %}
<title>Tasks</title>
{% endblock %}



{% block body %}
<!--<h1> Body index</h1>-->
<div class="content">
    <h1>Tasks</h1>




    <table class="test1">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        {% for task in tasks %}

            <tr>
                <td>
                    {{ task.content }}         
                </td>
                <td>
                    {{ task.date_created.date()}}
                </td>

                <td>
                    <a href="/delete/{{task.id}}">Delete</a><br>
                    
                </td>
            </tr>

        {% endfor %}

    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">

    </form>
</div>
{% endblock %}

